*{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 微軟正黑體,Microsoft JhengHei,黑體,SimHei,標楷體,DFKai-SB,BiauKai,全字庫正楷體,TW-Kai,'Source Sans Pro', Helvetica, sans-serif;
	text-align: center;
}
a{
	text-decoration: none;
	color: #FFF;
}